apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app-deployment
spec:
  template:
    spec:
      containers:
        - name: course-app
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"