apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production

resources:
  - ../../base
  - hpa.yaml
  - dragonfly.yaml

patches:
  - path: deployment.yaml
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: course-app-deployment
      spec:
        replicas: 3
